.tabs {
  padding: 0px 25px 25px 25px;
}

.tabs .nav-tabs {
  border-bottom: 1px solid #EDF0F1;
}

.tabs .nav-tabs li.active a {
  border-color: #edf0f1;
  border-radius: 0px;
  border-top: 2px solid #da5a45;
  border-bottom: 1px solid white;
  background-color: white;
  color: #da5a45;
}

.tabs .nav-tabs li.active a:hover {
  border-color: #edf0f1;
  border-top: 2px solid #da5a45;
  border-bottom: 1px solid white;
}

.tabs .nav-tabs li {
  margin-right: 3px;
}

.tabs .nav-tabs li a {
  color: #222728;
  background-color: #edf0f1;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 0px;
}

.tabs .nav-tabs li a:hover {
  border-color: #eee #eee #EDF0F1;
}

.tabs .tab-content {
  border: 1px solid #EDF0F1;
  padding: 20px;
  border-top: 0px;
  background-color: white;
}

.tabs .tab-content h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
}

.tabs .tab-content h3:nth-child(3) {
  border-top: 1px solid #edf0f1;
  padding-top: 30px;
}

.tabs .tab-content .form-group {
  margin-bottom: 30px;
}

.tabs .tab-content .form-group input {
  border-radius: 3px;
  box-shadow: none;
}

.tabs .tab-content .form-group input:nth-child(2) {
  margin-top: 5px;
}

.tabs .tab-content .form-group:last-child {
  margin-bottom: 10px;
}

.tabs .tab-content .form-group .control-label {
  text-align: left;
  font-weight: 500;
  padding-top: 0px;
}

.tabs .tab-content .form-group .control-label small {
  font-weight: 400;
  float: none;
  display: block;
}

.tabs .tab-content hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #EDF0F1;
}
