.actions .cta {
  margin-right: 6px;
  display: inline-block;
}

.actions .cta:last-child {
  margin-right: 0px;
}

@media (max-width: 767px) {
  .actions .cta {
    width: 48.7%;
    margin-bottom: 10px;
  }
  .actions .cta:nth-child(2) {
    margin-right: 0px;
    margin-bottom: 10px;
    float: right;
  }
}

.actions .right {
  float: right;
}
