@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?90613999');
  src: url('../font/fontello.eot?90613999#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?90613999') format('woff2'),
       url('../font/fontello.woff?90613999') format('woff'),
       url('../font/fontello.ttf?90613999') format('truetype'),
       url('../font/fontello.svg?90613999#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?90613999#fontello') format('svg');
  }
}
*/
 
 [class$="icon-"]:before, [class*="icon- "]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.spin5icon-:before { content: '\e800'; } /* '' */
.searchicon-:before { content: '\e801'; } /* '' */
.mail-alticon-:before { content: '\e802'; } /* '' */
.hearticon-:before { content: '\e803'; } /* '' */
.staricon-:before { content: '\e804'; } /* '' */
.star-emptyicon-:before { content: '\e805'; } /* '' */
.star-halficon-:before { content: '\e806'; } /* '' */
.star-half-alticon-:before { content: '\e807'; } /* '' */
.usericon-:before { content: '\e808'; } /* '' */
.user-plusicon-:before { content: '\e809'; } /* '' */
.user-timesicon-:before { content: '\e80a'; } /* '' */
.usersicon-:before { content: '\e80b'; } /* '' */
.maleicon-:before { content: '\e80c'; } /* '' */
.femaleicon-:before { content: '\e80d'; } /* '' */
.user-secreticon-:before { content: '\e80e'; } /* '' */
.pictureicon-:before { content: '\e80f'; } /* '' */
.cameraicon-:before { content: '\e810'; } /* '' */
.camera-alticon-:before { content: '\e811'; } /* '' */
.th-largeicon-:before { content: '\e812'; } /* '' */
.thicon-:before { content: '\e813'; } /* '' */
.th-listicon-:before { content: '\e814'; } /* '' */
.okicon-:before { content: '\e815'; } /* '' */
.cancelicon-:before { content: '\e816'; } /* '' */
.plusicon-:before { content: '\e817'; } /* '' */
.minusicon-:before { content: '\e818'; } /* '' */
.helpicon-:before { content: '\e819'; } /* '' */
.infoicon-:before { content: '\e81a'; } /* '' */
.homeicon-:before { content: '\e81b'; } /* '' */
.lockicon-:before { content: '\e81c'; } /* '' */
.lock-openicon-:before { content: '\e81d'; } /* '' */
.lock-open-alticon-:before { content: '\e81e'; } /* '' */
.codeicon-:before { content: '\e81f'; } /* '' */
.pencil-2icon-:before { content: '\e820'; } /* '' */
.printicon-:before { content: '\e821'; } /* '' */
.retweeticon-:before { content: '\e822'; } /* '' */
.comment-1icon-:before { content: '\e823'; } /* '' */
.chaticon-:before { content: '\e824'; } /* '' */
.comment-emptyicon-:before { content: '\e825'; } /* '' */
.chat-emptyicon-:before { content: '\e826'; } /* '' */
.bellicon-:before { content: '\e827'; } /* '' */
.bell-alticon-:before { content: '\e828'; } /* '' */
.attention-alticon-:before { content: '\e829'; } /* '' */
.location-1icon-:before { content: '\e82a'; } /* '' */
.directionicon-:before { content: '\e82b'; } /* '' */
.trashicon-:before { content: '\e82c'; } /* '' */
.trash-emptyicon-:before { content: '\e82d'; } /* '' */
.box-1icon-:before { content: '\e82e'; } /* '' */
.phoneicon-:before { content: '\e82f'; } /* '' */
.menuicon-:before { content: '\e830'; } /* '' */
.cog-3icon-:before { content: '\e831'; } /* '' */
.wrench-1icon-:before { content: '\e832'; } /* '' */
.slidersicon-:before { content: '\e833'; } /* '' */
.basketicon-:before { content: '\e834'; } /* '' */
.calendar-1icon-:before { content: '\e835'; } /* '' */
.lightbulb-1icon-:before { content: '\e836'; } /* '' */
.down-openicon-:before { content: '\e837'; } /* '' */
.left-openicon-:before { content: '\e838'; } /* '' */
.right-openicon-:before { content: '\e839'; } /* '' */
.up-openicon-:before { content: '\e83a'; } /* '' */
.angle-double-lefticon-:before { content: '\e83b'; } /* '' */
.angle-double-righticon-:before { content: '\e83c'; } /* '' */
.angle-double-upicon-:before { content: '\e83d'; } /* '' */
.angle-double-downicon-:before { content: '\e83e'; } /* '' */
.desktopicon-:before { content: '\e83f'; } /* '' */
.laptopicon-:before { content: '\e840'; } /* '' */
.tablet-1icon-:before { content: '\e841'; } /* '' */
.mobile-1icon-:before { content: '\e842'; } /* '' */
.globeicon-:before { content: '\e843'; } /* '' */
.paper-planeicon-:before { content: '\e844'; } /* '' */
.paper-plane-emptyicon-:before { content: '\e845'; } /* '' */
.fonticon-:before { content: '\e846'; } /* '' */
.boldicon-:before { content: '\e847'; } /* '' */
.roadicon-:before { content: '\e848'; } /* '' */
.italicicon-:before { content: '\e849'; } /* '' */
.headericon-:before { content: '\e84a'; } /* '' */
.toggle-officon-:before { content: '\e84b'; } /* '' */
.toggle-onicon-:before { content: '\e84c'; } /* '' */
.circleicon-:before { content: '\e84d'; } /* '' */
.circle-emptyicon-:before { content: '\e84e'; } /* '' */
.circle-thinicon-:before { content: '\e84f'; } /* '' */
.chart-baricon-:before { content: '\e850'; } /* '' */
.chart-areaicon-:before { content: '\e851'; } /* '' */
.chart-pieicon-:before { content: '\e852'; } /* '' */
.chart-lineicon-:before { content: '\e853'; } /* '' */
.ticketicon-:before { content: '\e854'; } /* '' */
.credit-cardicon-:before { content: '\e855'; } /* '' */
.rocketicon-:before { content: '\e856'; } /* '' */
.dollaricon-:before { content: '\e857'; } /* '' */
.gaugeicon-:before { content: '\e858'; } /* '' */
.coffeeicon-:before { content: '\e859'; } /* '' */
.anchoricon-:before { content: '\e85a'; } /* '' */
.shieldicon-:before { content: '\e85b'; } /* '' */
.graduation-cap-1icon-:before { content: '\e85c'; } /* '' */
.databaseicon-:before { content: '\e85d'; } /* '' */
.lifebuoyicon-:before { content: '\e85e'; } /* '' */
.soccer-ballicon-:before { content: '\e85f'; } /* '' */
.venus-marsicon-:before { content: '\e860'; } /* '' */
.cc-visaicon-:before { content: '\e861'; } /* '' */
.cc-mastercardicon-:before { content: '\e862'; } /* '' */
.cc-discovericon-:before { content: '\e863'; } /* '' */
.cc-amexicon-:before { content: '\e864'; } /* '' */
.androidicon-:before { content: '\e865'; } /* '' */
.appleicon-:before { content: '\e866'; } /* '' */
.codeopenicon-:before { content: '\e867'; } /* '' */
.connectdevelopicon-:before { content: '\e868'; } /* '' */
.facebookicon-:before { content: '\e869'; } /* '' */
.gplusicon-:before { content: '\e86a'; } /* '' */
.instagrammicon-:before { content: '\e86b'; } /* '' */
.linkedinicon-:before { content: '\e86c'; } /* '' */
.wordpressicon-:before { content: '\e86d'; } /* '' */
.youtubeicon-:before { content: '\e86e'; } /* '' */
.tag-1icon-:before { content: '\e86f'; } /* '' */
.feathericon-:before { content: '\e870'; } /* '' */
.commenticon-:before { content: '\e871'; } /* '' */
.locationicon-:before { content: '\e872'; } /* '' */
.direction-1icon-:before { content: '\e873'; } /* '' */
.phone-1icon-:before { content: '\e874'; } /* '' */
.cogicon-:before { content: '\e875'; } /* '' */
.basket-1icon-:before { content: '\e876'; } /* '' */
.bagicon-:before { content: '\e877'; } /* '' */
.hourglassicon-:before { content: '\e878'; } /* '' */
.right-open-1icon-:before { content: '\e879'; } /* '' */
.downicon-:before { content: '\e87a'; } /* '' */
.lefticon-:before { content: '\e87b'; } /* '' */
.righticon-:before { content: '\e87c'; } /* '' */
.upicon-:before { content: '\e87d'; } /* '' */
.arrows-ccwicon-:before { content: '\e87e'; } /* '' */
.progress-1icon-:before { content: '\e87f'; } /* '' */
.progress-2icon-:before { content: '\e880'; } /* '' */
.progress-3icon-:before { content: '\e881'; } /* '' */
.progress-4icon-:before { content: '\e882'; } /* '' */
.globe-2icon-:before { content: '\e883'; } /* '' */
.mobile-3icon-:before { content: '\e884'; } /* '' */
.flash-1icon-:before { content: '\e885'; } /* '' */
.paper-plane-2icon-:before { content: '\e886'; } /* '' */
.lifebuoy-1icon-:before { content: '\e887'; } /* '' */
.mouseicon-:before { content: '\e888'; } /* '' */
.chart-pie-3icon-:before { content: '\e889'; } /* '' */
.chart-line-1icon-:before { content: '\e88a'; } /* '' */
.chart-bar-1icon-:before { content: '\e88b'; } /* '' */
.chart-area-1icon-:before { content: '\e88c'; } /* '' */
.graduation-cap-2icon-:before { content: '\e88d'; } /* '' */
.gauge-1icon-:before { content: '\e88e'; } /* '' */
.skypeicon-:before { content: '\e88f'; } /* '' */
.home-outlineicon-:before { content: '\e890'; } /* '' */
.home-1icon-:before { content: '\e891'; } /* '' */
.tablet-2icon-:before { content: '\e892'; } /* '' */
.chart-alticon-:before { content: '\e893'; } /* '' */
.chart-pie-2icon-:before { content: '\e894'; } /* '' */
.star-1icon-:before { content: '\e895'; } /* '' */
.ok-3icon-:before { content: '\e896'; } /* '' */
.cancel-2icon-:before { content: '\e897'; } /* '' */
.comment-alt2icon-:before { content: '\e898'; } /* '' */
.comment-inv-alt2icon-:before { content: '\e899'; } /* '' */
.boxicon-:before { content: '\e89a'; } /* '' */
.cog-4icon-:before { content: '\e89b'; } /* '' */
.wrench-2icon-:before { content: '\e89c'; } /* '' */
.shareicon-:before { content: '\e89d'; } /* '' */
.calendaricon-:before { content: '\e89e'; } /* '' */
.calendar-invicon-:before { content: '\e89f'; } /* '' */
.chart-bar-2icon-:before { content: '\e8a0'; } /* '' */
.chart-pie-1icon-:before { content: '\e8a1'; } /* '' */
.pencil-alticon-:before { content: '\e8a2'; } /* '' */
.trash-3icon-:before { content: '\e8a3'; } /* '' */
.star-2icon-:before { content: '\e8a4'; } /* '' */
.star-empty-1icon-:before { content: '\e8a5'; } /* '' */
.star-half-1icon-:before { content: '\e8a6'; } /* '' */
.star-half_emptyicon-:before { content: '\e8a7'; } /* '' */
.user-2icon-:before { content: '\e8a8'; } /* '' */
.user-maleicon-:before { content: '\e8a9'; } /* '' */
.user-femaleicon-:before { content: '\e8aa'; } /* '' */
.users-1icon-:before { content: '\e8ab'; } /* '' */
.ok-1icon-:before { content: '\e8ac'; } /* '' */
.cancel-1icon-:before { content: '\e8ad'; } /* '' */
.lock-1icon-:before { content: '\e8ae'; } /* '' */
.lock-alticon-:before { content: '\e8af'; } /* '' */
.lock-open-1icon-:before { content: '\e8b0'; } /* '' */
.lock-open-alt-1icon-:before { content: '\e8b1'; } /* '' */
.monitoricon-:before { content: '\e8b2'; } /* '' */
.tableticon-:before { content: '\e8b3'; } /* '' */
.mobileicon-:before { content: '\e8b4'; } /* '' */
.flashicon-:before { content: '\e8b5'; } /* '' */
.fireicon-:before { content: '\e8b6'; } /* '' */
.vectoricon-:before { content: '\e8b7'; } /* '' */
.vector-pencilicon-:before { content: '\e8b8'; } /* '' */
.aticon-:before { content: '\e8b9'; } /* '' */
.hashicon-:before { content: '\e8ba'; } /* '' */
.female-2icon-:before { content: '\e8bb'; } /* '' */
.male-1icon-:before { content: '\e8bc'; } /* '' */
.mail-1icon-:before { content: '\e8bd'; } /* '' */
.posticon-:before { content: '\e8c0'; } /* '' */
.gplus-1icon-:before { content: '\e8c2'; } /* '' */
.callicon-:before { content: '\e8c3'; } /* '' */
.appstoreicon-:before { content: '\e8c4'; } /* '' */
.linkedin-1icon-:before { content: '\e8c5'; } /* '' */
.skype-1icon-:before { content: '\e8c6'; } /* '' */
.twittericon-:before { content: '\e8c7'; } /* '' */
.youtube-1icon-:before { content: '\e8c8'; } /* '' */
.vimeoicon-:before { content: '\e8c9'; } /* '' */
.facebook-1icon-:before { content: '\e8ca'; } /* '' */
.instagramicon-:before { content: '\e8cb'; } /* '' */
.instagram-1icon-:before { content: '\e8cc'; } /* '' */
.instagram-filledicon-:before { content: '\e8cd'; } /* '' */
.ok-2icon-:before { content: '\e8ce'; } /* '' */
.pencilicon-:before { content: '\e8cf'; } /* '' */
.compassicon-:before { content: '\e8d0'; } /* '' */
.compass-circledicon-:before { content: '\e8d1'; } /* '' */
.trash-2icon-:before { content: '\e8d2'; } /* '' */
.cog-2icon-:before { content: '\e8d3'; } /* '' */
.cogsicon-:before { content: '\e8d4'; } /* '' */
.wrenchicon-:before { content: '\e8d5'; } /* '' */
.basket-2icon-:before { content: '\e8d6'; } /* '' */
.officon-:before { content: '\e8d7'; } /* '' */
.fire-1icon-:before { content: '\e8d8'; } /* '' */
.male-2icon-:before { content: '\e8d9'; } /* '' */
.female-1icon-:before { content: '\e8da'; } /* '' */
.musicicon-:before { content: '\e8db'; } /* '' */
.search-1icon-:before { content: '\e8dc'; } /* '' */
.mailicon-:before { content: '\e8dd'; } /* '' */
.heart-1icon-:before { content: '\e8de'; } /* '' */
.star-3icon-:before { content: '\e8df'; } /* '' */
.user-1icon-:before { content: '\e8e0'; } /* '' */
.videocamicon-:before { content: '\e8e1'; } /* '' */
.camera-1icon-:before { content: '\e8e2'; } /* '' */
.photoicon-:before { content: '\e8e3'; } /* '' */
.attachicon-:before { content: '\e8e4'; } /* '' */
.lock-2icon-:before { content: '\e8e5'; } /* '' */
.eyeicon-:before { content: '\e8e6'; } /* '' */
.tagicon-:before { content: '\e8e7'; } /* '' */
.thumbs-upicon-:before { content: '\e8e8'; } /* '' */
.pencil-1icon-:before { content: '\e8e9'; } /* '' */
.comment-2icon-:before { content: '\e8ea'; } /* '' */
.location-2icon-:before { content: '\e8eb'; } /* '' */
.cupicon-:before { content: '\e8ec'; } /* '' */
.trash-1icon-:before { content: '\e8ed'; } /* '' */
.docicon-:before { content: '\e8ee'; } /* '' */
.noteicon-:before { content: '\e8ef'; } /* '' */
.cog-1icon-:before { content: '\e8f0'; } /* '' */
.paramsicon-:before { content: '\e8f1'; } /* '' */
.calendar-2icon-:before { content: '\e8f2'; } /* '' */
.soundicon-:before { content: '\e8f3'; } /* '' */
.clockicon-:before { content: '\e8f4'; } /* '' */
.lightbulbicon-:before { content: '\e8f5'; } /* '' */
.tvicon-:before { content: '\e8f6'; } /* '' */
.desktop-1icon-:before { content: '\e8f7'; } /* '' */
.mobile-2icon-:before { content: '\e8f8'; } /* '' */
.cdicon-:before { content: '\e8f9'; } /* '' */
.inboxicon-:before { content: '\e8fa'; } /* '' */
.globe-1icon-:before { content: '\e8fb'; } /* '' */
.cloudicon-:before { content: '\e8fc'; } /* '' */
.paper-plane-1icon-:before { content: '\e8fd'; } /* '' */
.fire-2icon-:before { content: '\e8fe'; } /* '' */
.graduation-capicon-:before { content: '\e8ff'; } /* '' */
.megaphoneicon-:before { content: '\e900'; } /* '' */
.database-1icon-:before { content: '\e901'; } /* '' */
.keyicon-:before { content: '\e902'; } /* '' */
.beakericon-:before { content: '\e903'; } /* '' */
.truckicon-:before { content: '\e904'; } /* '' */
.moneyicon-:before { content: '\e905'; } /* '' */
.foodicon-:before { content: '\e906'; } /* '' */
.shopicon-:before { content: '\e907'; } /* '' */
.diamondicon-:before { content: '\e908'; } /* '' */
.t-shirticon-:before { content: '\e909'; } /* '' */
.walleticon-:before { content: '\e90a'; } /* '' */
.down-diricon-:before { content: '\e90c'; } /* '' */
.up-diricon-:before { content: '\e90d'; } /* '' */
.left-diricon-:before { content: '\e90e'; } /* '' */
.right-diricon-:before { content: '\e90f'; } /* '' */
.angle-lefticon-:before { content: '\e910'; } /* '' */
.angle-righticon-:before { content: '\e911'; } /* '' */
.angle-upicon-:before { content: '\e912'; } /* '' */
.angle-downicon-:before { content: '\e913'; } /* '' */
.sort-name-upicon-:before { content: '\e914'; } /* '' */
.sort-name-downicon-:before { content: '\e915'; } /* '' */
.sort-number-upicon-:before { content: '\e916'; } /* '' */
.sort-number-downicon-:before { content: '\e917'; } /* '' */
.sort-alt-upicon-:before { content: '\e918'; } /* '' */
.sort-alt-downicon-:before { content: '\e919'; } /* '' */
.basket-3icon-:before { content: '\e91a'; } /* '' */
.basket-4icon-:before { content: '\e91b'; } /* '' */
.up-handicon-:before { content: '\e91d'; } /* '' */
.spin6icon-:before { content: '\e91e'; } /* '' */
.spin1icon-:before { content: '\e91f'; } /* '' */
.ccwicon-:before { content: '\e920'; } /* '' */
.cwicon-:before { content: '\e921'; } /* '' */
.off-1icon-:before { content: '\e922'; } /* '' */
.up-open-1icon-:before { content: '\e923'; } /* '' */
.down-open-1icon-:before { content: '\e924'; } /* '' */
.left-open-1icon-:before { content: '\e925'; } /* '' */
.down-open-miniicon-:before { content: '\e926'; } /* '' */
.left-open-miniicon-:before { content: '\e927'; } /* '' */
.right-open-miniicon-:before { content: '\e928'; } /* '' */
.up-open-miniicon-:before { content: '\e929'; } /* '' */
.down-open-bigicon-:before { content: '\e92a'; } /* '' */
.left-open-bigicon-:before { content: '\e92b'; } /* '' */
.right-open-bigicon-:before { content: '\e92c'; } /* '' */
.up-open-bigicon-:before { content: '\e92d'; } /* '' */
.attentionicon-:before { content: '\e92e'; } /* '' */
.heart-2icon-:before { content: '\e92f'; } /* '' */
.heart-emptyicon-:before { content: '\e930'; } /* '' */
.info-circledicon-:before { content: '\e931'; } /* '' */
.info-1icon-:before { content: '\e932'; } /* '' */
.trash-4icon-:before { content: '\e933'; } /* '' */
.cup-1icon-:before { content: '\e934'; } /* '' */
.signalicon-:before { content: '\e935'; } /* '' */
.pencil-3icon-:before { content: '\e936'; } /* '' */
.ok-4icon-:before { content: '\e937'; } /* '' */
.cancel-3icon-:before { content: '\e938'; } /* '' */
.plus-1icon-:before { content: '\e939'; } /* '' */
.right-open-2icon-:before { content: '\f006'; } /* '' */
.trash-5icon-:before { content: '\f083'; } /* '' */
.terminalicon-:before { content: '\f120'; } /* '' */
.forkicon-:before { content: '\f126'; } /* '' */
.html5icon-:before { content: '\f13b'; } /* '' */
.cc-paypalicon-:before { content: '\f1f4'; } /* '' */
.cc-stripeicon-:before { content: '\f1f5'; } /* '' */
.street-viewicon-:before { content: '\f21d'; } /* '' */
.whatsappicon-:before { content: '\f232'; } /* '' */
.map-pinicon-:before { content: '\f276'; } /* '' */
.shopping-basketicon-:before { content: '\f291'; } /* '' */